html {
    scroll-behavior: smooth;
}

.section-title {
    color: #212529;
    text-transform: uppercase;
    display: inline-block;
    font-size: 30;
    font-family: oswald;
    text-decoration: none;
    background-image: linear-gradient(to right, #007bff, #007bff);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% 2px;
    transition: background-size .5s ease;
}

.section-title:hover {
    background-size: 100% 2px;
}

.parent {
    position: relative;
    border-radius: 0;
    min-height: 100vh;
}

.parent .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../img/background-header-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: sepia(0.5) brightness(0.5);
}

.parent .content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.title-header {
    font-size: 3.5em;
}

.hero-description {
    color: #fff;
    font-size: 30px;
    padding-top: 35px;
}

.middle-content {
    margin-top: 15%;
}

.slogan {
    font-size: 2em;
    margin-top: 15px;
}

.about-info {
    padding: 5%;
}

.content-text {
    font-size: 1em;
}

a:hover,
a:active {
    text-decoration: none;
}

@media only screen and (max-width: 420px) {
    .parent .content h1 {
        font-size: 2.5em;
    }
}